<h1><%= @post.title %></h1>

<%# mi @post instance variable que viene con el valor desde la operacion en el controllador def show %>
<%# y quiero el titulo por eso .tittle  %>

<p><%= @post.description %></p>
